@tailwind base;
@tailwind components;
@tailwind utilities;

/* Image Scanning animation */
.scanning::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(19, 161, 14, 0.2),
    /* Darker matrix green with full transparency */ rgba(19, 161, 14, 0.8)
      /* The same green with 80% opacity */
  );
  animation: scanning 3s ease-in-out infinite;
}

@keyframes scanning {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(340px);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  body.dark {
    background-color: black;
  }

  div[role="presentation"].dark {
    background-color: #09090b !important;
  }

  iframe {
    background-color: white !important;
  }

  .dark {
    --background: 222.2 0% 0%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  padding: 0;
}

.share-code-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.15rem;
  bottom: 2.5rem;
  left: 11%;
  right: 11%;
  padding: 1.25rem 2.25rem;
  box-shadow: 50px 50px 100px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #dedede;
}
.share-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.app-desc-content {
  list-style: decimal;
  margin-left: 24px;
}

.app-desc-content a {
  text-decoration: underline;
  color: #0070f0;
}

.desktop-boxShadow {
  box-shadow: rgba(212, 212, 216, 0.2) 0px 0px 0px 8px;
}

.warning-message {
  border: 1px solid #ffe58f;
  background-color: #fffbe6;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .share-code-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
  }

  .share-code {
    width: 80%;
  }

  .desktop-boxShadow {
    box-shadow: none;
  }
}

.app-title {
  font-size: 40px;
  color: rgb(9, 9, 11);
  font-weight: 500;
}

.main-container {
  max-width: 900px;
  margin: auto;
}

.custom-input-style {
  border: 2px solid #dbdbdb;
  background-color: #fff;
}

.code-mirror .cm-editor {
  padding: 10px;
  border-radius: 8px;
  outline: none !important;
  border: 1px solid #ccc
}

.picture_container {
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.tips {
  color: #b6b5b5;
  font-size: 14px;
}

.select .rt-SelectTrigger:where(.rt-variant-surface) {
  color: none;
  box-shadow: none;
  background: none;
  outline: none;
}

.error-message {
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
}

/* 自定义滚动条样式 */
.cm-scroller::-webkit-scrollbar{
  width: 0px;
  height: 0px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app-icon {
    width: 40px;
    height: 40px;
  }
  .app-title {
    font-size: 32px;
  }
  .main-container {
    height: auto !important;
    margin: 0;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
  }
  .app-title-en {
    font-size: 18px;
  }
  .app-icon-en {
    width: 27.5px;
    height: 27.5px;
  }
  .header-toolinfo-trigger-en {
    right: 2.5%;
    bottom: -2.5px;
    width: 16px;
    height: 16px;
  }
  .error-message {
    left: 11.5px;
    right: 11.5px;
    transform: none;
  }
}